@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  max-height: 100vh;
}

.btn,
.form__select,
input[type="text"] {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 100%;
  text-align: center;
}

.header {
  padding: 6.25rem 0 1.32rem 0;
}

.header__h1 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 5.15rem;
  font-weight: 600;
  color: #07232c;
}
