<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adjuster Data Pull Requirements</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css')}}">
  </head>

  <body>
    <h1>JCC Bot</h1>

    <select name="caseStatus" class="js-case-status">
      <option>CASE STATUS</option>
      <option value="all">ALL</option>
      <option value="active">ACTIVE</option>
      <option value="inactive">INACTIVE</option>
    </select>

    <input type="text" name="date1" id="" placeholder="17-00000">
    <input type="text" name="date2" id="" placeholder="17-00005">
    <button>Search Result</button>

    <script src="{{ url_for('static', path='js/script.js') }}"></script>
  </body>

</html>
