<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adjuster Data Pull Requirements</title>
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico')}}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/css/animation.css') }}" />
    <script src="https://kit.fontawesome.com/5ade245d5d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="container__inner">
        <div class="header">
          <h1 class="header__h1">Adjuster&nbsp;&nbsp;Case&nbsp;&nbsp;Search</h1>
        </div>

        <div class="form">
          <select name="case-status" class="form__select js-case-status">
            <option class="form__select-option">Case Status</option>
            <option class="form__select-option" value="all">All</option>
            <option class="form__select-option" value="active">Active</option>
            <option class="form__select-option" value="inactive">Inactive</option>
          </select>

          <input type="text" class="js-case-no-1 form__case-input" required
            placeholder="Enter comma-separated case numbers" value="">
          <button class="btn btn--search js-search-button">
            <i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i>
          </button>
        </div>

        <div class="loading-animation js-loading-animation"></div>
        <div class="results js-table-results"></div>
      </div>
    </div>
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
  </body>

</html>
