<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adjuster Data Pull Requirements</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css')}}">
    <link rel="styles" href="{{ url_for('static', path='/animation.css') }}">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1 class="header__h1">JCC Bot</h1>
      </div>

      <div class="form">
        <select name="case-status" class="form__select js-case-status">
          <option class="form__select-option">Case Status</option>
          <option class="form__select-option" value="all">All</option>
          <option class="form__select-option" value="active">Active</option>
          <option class="form__select-option" value="inactive">Inactive</option>
        </select>
        <input type="text" class="js-case-no-1 form__case-input" placeholder="Enter comma-separated case numbers"
          value="19-00019,18-00012,">
        <button class="btn js-search-button">Search Result</button>
      </div>

      <div class="loading-animation js-loading-animation">
        <div class="loadingio-spinner-ball-oha5k74jaw7">
          <div class="ldio-jxs6a0c8pv">
            <div></div>
          </div>
        </div>
      </div>
      <div class="results js-table-results"></div>
    </div>
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
  </body>

</html>
